@page
@model LunchTrain.Pages.Groups.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Group[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group[0].Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group[0].Owner)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Group) {
    bool alreadyUsed = false;
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.FullName)
        </td>
        @foreach (var memberItem in Model.UserMemberGroups)
        {
            if (item.Name == memberItem.Name && alreadyUsed == false)
            {
                @if (item.Owner == Model.user)
                {
                    <td>
                        <a class="btn btn-default" asp-page="./Edit" asp-route-id="@item.Name">Edit</a>
                        <a class="btn btn-default" asp-page="./Details" asp-route-id="@item.Name">Details</a>
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Name">Delete</a>
                    </td>
                    alreadyUsed = true;
                }
                else
                {
                    <td>
                        <a class="btn btn-default" asp-page="./Details" asp-route-id="@item.Name">Details</a>
                        <a class="btn btn-default" asp-page="./Quit" asp-route-id="@item.Name">Quit</a>
                    </td>
                    alreadyUsed = true;
                }
            }
        }
        @foreach (var applicationItem in Model.UserApplicationGroup)
        {
            if (applicationItem.Name == item.Name && alreadyUsed == false)
            {
                <td>
                    <a class="btn btn-default" asp-page="./Details" asp-route-id="@item.Name">Details</a>
                </td>
                <td><h4>Applied</h4></td>
                alreadyUsed = true;
            }
        }
        
        @if (alreadyUsed == false)
        {
            <td>
                <a class="btn btn-default" asp-page="./Details" asp-route-id="@item.Name">Details</a>
            </td>
            <td>
                <form method="post">
                    <input type="hidden" asp-for="Input.Name" />
                    <input type="submit" value="Apply" class="btn btn-default" />
                </form>
            </td>
            alreadyUsed = true;
        }

    </tr>
}
    </tbody>
</table>
